@media (max-width: 768px) {
    .menu {
        display: none !important;
    }

    .list-item {
        display: block !important;
    }

    .item {
        width: 100% !important;
    }

    .about-content,
    .item {
        padding: 0 48px !important;
    }

    .about-section {
        display: block !important;
    }
}