@media (max-width: 768px) {
    .nav {
        padding: 16px 20px !important;
    }

    .menu,
    .avatar-image {
        display: none !important;
    }

    .list-item {
        display: block !important;
    }

    .item {
        width: 100% !important;
    }

    .section-title {
        font-size: 44px !important;
    }

    .section-sub-title {
        font-size: 72px !important;
        line-height: 72px !important;
    }

    .section-description {
        font-size: 14px !important;
    }

    .services-section {
        margin: 0 !important;
    }

    .about-content {
        padding: 0 15px !important;
    }

    .about-section {
        display: block !important;
    }
}